@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



a:hover {
  text-decoration: underline;
}

/* Estilos boton login nav */
.btn-login {
  display: grid;
  place-content: center;
  border: 2px solid transparent;
  padding: .3rem;
  border-radius: .5rem;
}
.btn-login:hover {
  @apply border-DarkGrayishBlue;
}